@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

body {
  background-color: #f2f4f7;
  font-family: "Tajawal";
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ck-editor__editable_inline {
  min-height: 300px;
}

.form-control:focus, .form-select:focus {
  border-color: #717171;
  box-shadow: 0 0 0 .25rem rgb(0 0 0 / 25%);
}

.profile-image-menu-container
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
}
.profile-image-menu-container img
{
  min-width: 100%;
  min-height: 100%;
}



div.iti:has(input.form-control)
{
  width: 100%;
}

.iti__search-input
{
  outline: none;
  padding: 5px 10px;
}

input[type="email"], input[type="url"], input[type="tel"]
{
  direction: inherit;
}

div:has(i.password-toggler)
{
  position: relative;
}
i.password-toggler
{
  position: absolute;
  top: 50%;
  right: 7px;
  transform: translateY(-50%);
}

.fs-7 
{
  font-size: 0.8rem !important;
}

.article-category .card-header
{
  border-color: #9494942d;
}

#terms-condition
{
  background-color: #000;
}

.navbar
{
  transition: all 0.3s;
}

.floating-navbar
{
  position: sticky;
  top: 0;
  z-index: 9;
  padding: 0 !important;
}
.navbar .nav-item:has(> .nav-link.active)
{
  font-weight: bold;
}

.dropdown
{
  position: relative;
}
.dropdown-menu
{
  background: #e3e3e3;
  padding: 7px 3px;
  right: 0;
  border-radius: 7px;
  box-shadow: 0 0 2px #c7c7c7;
  position: absolute;
  inset: 0px auto auto 0px;
  margin: 0px;
  transform: translate(14px, 37px) !important;
}
.dropdown-menu-end
{
  transform: translate(5px, 9px) !important;
}
.dropdown-menu-end2
{
  transform: translate(-147px, 43px) !important;
}

.dropdown-menu:after {
  content: "";
  position: absolute;
  top: -10px;
  right: 14px;
  border-width: 0 10px 10px 10px;
  border-style: solid;
  border-color: transparent transparent #cbcbcb transparent;
}

.dropdown-item:Focus, .dropdown-item:hover
{
  background-color: #cbcbcb;
  color: black;
  border-radius: 5px;
}

#profile-card .image-holder
{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 115px;
  height: 115px;
  overflow: hidden;
  border-radius: 15px;
  position: relative;
}
#profile-card .image-holder img
{
  max-width: 100%;
  max-height: 100%;
}
#profile-card .image-holder i
{
  position: absolute;
  bottom: 5px;
  background-color: white;
  color:black;
  border-radius: 50%;
  right: 7px;
}
#profile-card #social-media li i
{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 7px;
}
#profile-card #social-media li input
{
  padding-left: 30px;
}

/* Submit buttons Loaders */
.loader {
  width: 30px;
  height: 30px;
  border: 3px dotted #FFF;
  border-style: solid solid dotted dotted;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
}
.loader::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px dotted #FF3D00;
  border-style: solid solid dotted;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  animation: rotationBack 1s linear infinite;
  transform-origin: center center;
}
    
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
} 

.loader-btn
{
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader-btn:disabled p
{
  display: none;
}
.loader-btn:disabled .loader
{
  display: inline-block;
  margin: auto;
}
.loader-btn p
{
  margin: 3px !important;
}
.loader-btn .loader
{
  display: none;
}

.select2-container--default .select2-results__option--highlighted[aria-selected]
{
  background-color: #212529;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 1px solid #d7d7d7;
  border-radius: 5px;
  padding: 7px 7px;
}

.select2-container .select2-selection--single
{
  height: 35px;
  display: flex;
  align-items: center;
}

.select2-container--default .select2-selection--single
{
  border: 1px solid #dcdee1;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 35px;
}

.select2-container--default .select2-results>.select2-results__options
{
  padding: 0 4px;
  margin-bottom: 4px;
}
.select2-results__option
{
  border-radius: 3px;
}
.ck.ck-editor__editable.ck-focused:not(.ck-editor__nested-editable)
{
  border-color: #999999 !important;
}

.ck.ck-button.ck-on, a.ck.ck-button.ck-on
{
  border-color: #000 !important;
  background-color: #00000051 !important;
  color: #000 !important;
}

.ck.ck-button:active, .ck.ck-button:focus, a.ck.ck-button:active, a.ck.ck-button:focus
{
  border-color: #000 !important;
}

.ck.ck-dropdown .ck-button.ck-dropdown__button.ck-off:active:focus, .ck.ck-dropdown .ck-button.ck-dropdown__button.ck-on:active:focus
{
  box-shadow: 0 0 0 3px #cae1fc !important;
}
.ck.ck-dropdown .ck-button.ck-dropdown__button.ck-off:active:focus, .ck.ck-dropdown .ck-button.ck-dropdown__button.ck-on:active:focus, .ck.ck-button:active, .ck.ck-button:focus, a.ck.ck-button:active, a.ck.ck-button:focus {
  box-shadow: 0 0 0 3px #a0a0a0 !important;
}

article
{
  position: relative;
}

article .image-holder
{
  width: 100%;
  display: flex;
  justify-content: center;
  aspect-ratio: 1/0.45;
  overflow: hidden;
}

article .meta-data
{
  line-height: 1.4;
}

article .image-holder img
{
  min-width: 100%;
  min-height: 100%;
}

article .user-image-holder
{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
article .user-image-holder img
{
  min-width: 100%;
  min-height: 100%;
}

article .article_action_list button
{
  background-color: #FFF;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  border: 0;
}

.heart_action_button
{
  width: 100%;
  border: 0;
  border-top: 1px solid #9c9c9c;
  padding: 10px 0;
}

.heart_action_button.reacted
{
  color: #FF3D00;
}

.getingArticlesLoader
{
  display: none;
}