@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

body {
  background-color: #f2f4f7;
  font-family: "Tajawal";
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

div.iti:has(input.form-control)
{
  width: 100%;
}

.iti__search-input
{
  outline: none;
  padding: 5px 10px;
}

input[type="email"], input[type="url"], input[type="tel"]
{
  direction: inherit;
}

div:has(i.password-toggler)
{
  position: relative;
}
i.password-toggler
{
  position: absolute;
  top: 50%;
  right: 7px;
  transform: translateY(-50%);
}

.fs-7 
{
  font-size: 0.8rem !important;
}

.swiper
{
  aspect-ratio: 1.5 / 1;
}
.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper {
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper .swiper-slide
{
  position: relative;
}

.mySwiper .swiper-slide:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 999;
}

.mySwiper .swiper-slide-thumb-active:after {
  display: none
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide
{
  position: relative;
  overflow: hidden;
  border-radius: 7px;
}

.swiper-slide .swiper-content
{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0 -10px 40px 30px rgba(0, 0, 0, 0.7);
}

.mySwiper .swiper-slide
{
  overflow: hidden;
  border-radius: 7px;
}


.swiper-section
{
  aspect-ratio: 4 / 1;
}
.swiper-button-next, .swiper-button-prev
{
  color: white;
}

.article-category .card-header
{
  border-color: #9494942d;
}

.opinion-article .card-body .item .image-container
{
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 7px;
  aspect-ratio: 2 / 1;
}

.opinion-article .card-body .item .image-container img
{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.opinion-article .card-body .item .imager-holder
{
  width: 25px;
  border-radius: 50%;
  overflow: hidden;
}
.opinion-article .card-body .item .imager-holder img
{
  max-width: 100%;
  max-height: 100%;
}

#terms-condition
{
  background-color: #000;
}

.navbar
{
  transition: all 0.3s;
}

.floating-navbar
{
  position: sticky;
  top: 0;
  z-index: 9;
  padding: 0 !important;
}
.navbar .nav-item:has(> .nav-link.active)
{
  font-weight: bold;
}

.navbar .lang-menu
{
  display: none
}

.navbar .lang-menu.show
{
  display: block;
}

.lang-menu
{
  position: absolute;
  top: 115%;
  background: #e3e3e3;
  padding: 0px 15px;
  right: 0;
  border-radius: 7px;
  box-shadow: 0 0 2px #c7c7c7;
}

.lang-menu:after {
  content: "";
  position: absolute;
  top: -10px;
  right: 20px;
  border-width: 0 10px 10px 10px;
  border-style: solid;
  border-color: transparent transparent #cbcbcb transparent;
}

section.articles-section .image-holder
{
  overflow: hidden;
  aspect-ratio: 1.5;
}
section.articles-section .image-holder image
{
  max-width: 100%;
  max-height: 100%;
}
section.articles-section .card-body
{
  overflow: hidden;

}

.main-article-header img
{
  aspect-ratio: 1.5;
  max-height: 70vh;
}

#profile-card .image-holder
{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 115px;
  height: 115px;
  overflow: hidden;
  border-radius: 15px;
  position: relative;
}
#profile-card .image-holder img
{
  max-width: 100%;
  max-height: 100%;
}
#profile-card .image-holder i
{
  position: absolute;
  bottom: 5px;
  background-color: white;
  color:black;
  border-radius: 50%;
  right: 7px;
}
#profile-card #social-media li i
{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 7px;
}
#profile-card #social-media li input
{
  padding-left: 30px;
}