i.password-toggler
{
    right: unset;
    left: 7px;
}
#profile-card .image-holder i
{
  right: unset;
  left: 7px;
}
#profile-card #social-media li i
{
  left: unset;
  right: 7px;
}
#profile-card #social-media li input
{
  padding-left: 0;
  padding-right: 30px;
}

.lang-menu
{
  right: unset;
  left: 0;
}
.dropdown-menu
{
  transform: translate(-3px, 9px) !important;
}
.dropdown-menu-end
{
  transform: translate(-10px, 40px) !important;
}

.dropdown-menu:after {
  right: unset;
  left: 14px;
}