@media screen and (max-width: 991px) {
    .navbar ul.main-icons
    {
        position: fixed !important;
        bottom: 0;
        background-color: white;
        border-top: 1px solid #dbdbdb;
        left: 0;
    }
    body
    {
        padding-bottom: 50px;
    }
    .navbar-toggler
    {
        display: flex !important;
        align-items: center;
    }

    .offcanvas ul li:not(:last-child)
    {
        border-bottom: 1px solid #dbdbdb;
    }
}

@media screen and (max-width: 590px) {
    .navbar div:has( > .navbar-brand)
    {
        max-width: 26%;
    }
    .navbar div.navbar-toggler a.btn
    {
        padding: 0.3rem 0.8rem !important;
        font-size: 0.9rem !important;
    }
}

@media screen and (max-width: 440px)
{
    
}

#navbarSupportedContent ul
{
    list-style: none;
}

.dropdown-item
{
    padding: 7px 5px;
}

.modal-footer
{
    border: 0 !important;
    padding: 0 !important;
}
.modal-footer button
{
    width: 100%;
    border-radius: 0;
    margin: 0;
}